:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: linear-gradient(120deg, #ff00ff, #18e7ff);

    --vp-home-hero-image-filter: blur(44px);
    --vp-home-hero-image-background-image: linear-gradient(0deg, #344398 80%, #344398 50%);
}

img {
    display: inline-block;
}
